<br />
<% if current_user && current_user.spco_staff %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to help some researchers</h1>
    <br /><br />
  </div>

  <div class="row">
    <div class="col-1"></div>

    <%= link_to staff_requests_path, class: 'box-shell col-10 col-md-4' do %>
      <div class="button-box">
        <p>Work on a request</p>
      </div>
      <br />
    <% end %>

    <div class="col-1"></div>
    <div class="col-1"></div>

    <%= link_to new_request_path, class: 'box-shell col-10 col-md-4' do %>
      <div class="button-box">
        <p>Request an item</p>
      </div>
      <br />
    <% end %>

    <div class="col-1"></div>

  </div>

<% elsif current_user %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to do some research</h1>
    <br /><br />
  </div>

  <div class="row">

    <%= link_to new_request_path, class: 'box-shell col-10 offset-1 col-md-6 offset-md-3' do %>
      <div class="button-box">
        <p>Request an item</p>
      </div>
    <% end %>
    <br />
  </div>

<% else %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to do some research</h1>
    <br /><br />
  </div>

  <div class="row">

     <div class="col-1"></div>

    <%= link_to new_user_session_path, class: 'box-shell col-10 col-md-4' do %>
      <div class="button-box">
        <p>Returning researcher?</p>
      </div>
      <br />
    <% end %>

    <div class="col-1"></div>
    <div class="col-1"></div>

    <%= link_to new_user_registration_path, class: 'box-shell col-10 col-md-4' do %>
      <div class="button-box">
        <p>New to Special Collections?</p>
      </div>
      <br />
    <% end %>

    <div class="col-1"></div>
  </div>

<% end %>