<br />
<% if current_user && current_user.spco_staff %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to help some researchers</h1>
    <br />
  </div>

  <div class="row">
    <div class="col-1"></div>

    <%= link_to '#', class: 'col-4' do %>
      <div class="button-box">
        <p>Work on a request</p>
      </div>
    <% end %>

    <div class="col-2"></div>

    <%= link_to new_request_path, class: 'col-4' do %>
      <div class="button-box">
        <p>Request an item</p>
      </div>
    <% end %>

    <div class="col-1"></div>

  </div>

<% elsif current_user %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to do some research</h1>
    <br />
  </div>

  <div class="row">

    <%= link_to new_request_path, class: 'col-6 offset-3' do %>
      <div class="button-box">
        <p>Request an item</p>
      </div>
    <% end %>
  </div>

<% else %>
  <div class='col-10 offset-1'>
    <h1>Today is a great day to do some research</h1>
    <br />
  </div>

  <div class="row">

     <div class="col-1"></div>

    <%= link_to new_user_session_path, class: 'col-4' do %>
      <div class="button-box">
        <p>Returning researcher?</p>
      </div>
    <% end %>

    <div class="col-2"></div>

    <%= link_to new_user_registration_path, class: 'col-4' do %>
      <div class="button-box">
        <p>New to Special Collections?</p>
      </div>
    <% end %>

    <div class="col-1"></div>
  </div>

<% end %>