<br />

<%= form_with(url: staff_requests_path, method: "get", class: 'col-10 offset-1', local: true) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>

  <%= radio_button_tag(:search_type, "identifier") %>
  <%= label_tag(:search_type_identifier, "Identifier") %>
  <%= radio_button_tag(:search_type, "creator") %>
  <%= label_tag(:search_type_creator, "Creator") %>
  <%= radio_button_tag(:search_type, "title") %>
  <%= label_tag(:search_type_title, "Title") %>
  <%= submit_tag("Search", class: 'btn btn-primary') %>
<% end %>

<br />

<div class="row">
  <div class="col-10 offset-1">
    <% @requests.each do |request| %>
      <div class="request-box">
        <div class="row">
          <p class="col-4"><%= link_to request.id, request_path(request) %></p>
          <%= link_to 'Update Request', edit_staff_request_path(request), class: 'btn btn-primary' %>
        </div>
        <hr></hr>
        <div class="row">
          <div class="col-3 offset-1">
            <p><%= request.identifier %></p>
          </div>
          <div class="col-3">
            <p>Item number: <%= request.item_number %></p>
          </div>
          <div class="col-3">
            <p><%= request.user.email %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">
            <p><b>Status: </b><%= request.status %></p>
          </div>
          <div class="col-3">
            <p>Request created: <%= request.created_at.strftime("%m/%d/%Y") %></p>
          </div>
          <div class="col-3">
            <p>Request edited: <%= request.updated_at.strftime("%m/%d/%Y") %></p>
          </div>
        </div>
      </div>
    <% end %>

    <!-- pagination helper --->

    <div class="center">
      <div class="block">
        <%= will_paginate @requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>

  </div>
</div>