<br />
<div class="row">
  <div class="col-2 facets">
    Facets
    <ul>
      <li>
        Item 1
      </li>
      <li>
        Item 2
      </li>
      <li>
        Item 3
      </li>
      <li>
        Item 4
      </li>
      <li>
        Item 5
      </li>
    </ul>
  </div>
  <div class="col-9 offset-1">
    <% @requests.each do |request| %>
      <div class="request-box">
        <div class="row">
          <p class="col-4"><%= link_to request.id, request_path(request) %></p>
          <%= link_to 'Update Request', edit_staff_request_path(request), class: 'btn btn-primary' %>
        </div>
        <hr></hr>
        <div class="row">
          <div class="col-3 offset-1">
            <p><%= request.identifier %></p>
          </div>
          <div class="col-3">
            <p><%= request.title %></p>
          </div>
          <div class="col-3">
            <p>Item Number: <%= request.item_number %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">
            <p><b>Status: </b><%= request.status %></p>
          </div>
          <div class="col-3">
            <p>Request created: <%= request.created_at.strftime("%m/%d/%Y") %></p>
          </div>
          <div class="col-3">
            <p>Request edited: <%= request.updated_at.strftime("%m/%d/%Y") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>