<br />
<div class="col-10 offset-1">
  <h1>Request an item</h1>
  <br />
  <%= simple_form_for @request, url: requests_path do |f| %>
    <%= f.input :identifier %>
    <%= f.input :title %>
    <%= f.input :creator %>
    <%= f.input :item_number, hint: 'Box or volume number.  Leave as one if the field is not applicable.' %>
    <br />
    <%= f.submit "Request", class: 'btn btn-primary' %>
  <% end %>
</div>