<br />
<div class="col-10 offset-1">
  <h1>Request <%= current_request.id %></h1>
  <br />
  <p><%= current_request.identifier %></p>
  <% if current_request.title %>
    <p><%= current_request.title %></p>
  <% end %>
  <% if current_request.creator %>
    <p><%= current_request.creator %></p>
  <% end %>  
  <% if current_request.item_number %>
    <p>Box <%= current_request.item_number %></p>
  <% end %>
  <p><i>Requested on <%= current_request.created_at.strftime("%A %B %d %Y at %I:%M %p") %></i></p>
  <p>Requested by <%= link_to current_request.user.email, '#' %></p>
  <br />
  <% if current_user.spco_staff %>
  <%= link_to "Update request", edit_staff_request_path(current_request), class: 'btn btn-primary float-right' %>
  <% else %>
    <span class="float-right badge badge-primary">Please contact a staff member if you need to edit your request!</span>
  <% end %>
</div>